body {
	margin: 0;
	font-family: verdana,arial,helvetica,sans-serif;
	padding-bottom: 1em;
}

header {
	background-color: black;
	padding-top: 4em;
	padding-bottom: 1em;
	border-bottom: 2px solid #5afe57;
}

#logo {
	width: 600px;
	margin: 0 auto;
}

header h1 {
	margin: 0;
	margin-left: -20px;
}

main {
	width: 600px;
	margin: 0 auto;
}

.hide-rst-heading main h1:first-child {
	display: none;
}

main #tagline,
main h1.title {
	font-size: 220%;
	font-weight: normal;
	padding-bottom: .7em;
	border-bottom: 1px solid #666;
	text-align: left;
}

main h1 {
	font-size: 150%;
	font-weight: normal;
}

main ul {
	line-height: 1.5em;
}

.main-index h2 {
	margin: 0.8125em 0;
}

#links {
	margin-top: 2em;
}

#links a {
	text-decoration: none;
	color: #00dd00;
}

#links a:hover {
	color: #5afe57;
}

#links a:hover .action {
	text-decoration: none;
	font-weight: bold;
	background: white;
}

#links .link {
	float: left;
	width: 199px;
	height: 120px;
	text-align: center;
}

#links .action {
	font-size: 400%;
}

.contributors {
	line-height: 1.5;
	font-style: italic;
}

.contributors .contributor {
	white-space: nowrap;
}

#demo {
	text-align: center;
	width: 100%;
}

/* the size of the demo player is not very well defined and kinda depends on the
 * default fonts and font sizes. This makes it so that it does never truncate lines if the
 * window is large enough.
 */
#demo {
	margin: 10px 0;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
}
