body {
	margin: 0;
	font-family: verdana,arial,helvetica,sans-serif;
	padding-bottom: 1rem;
}

header {
	background-color: black;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	border-bottom: 5px solid #22D045;
}

#logo {
	max-width: 600px;
	margin: 0 auto;
}

header h1 {
	margin: 0;
	text-align: center;
}

nav {
	display: flex;
	justify-content: center;
}

nav > ol {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	padding: 0;
}

nav > ol > li {
	list-style: none;
}

/* mono system font stack courtesy of https://qwtel.com/posts/software/the-monospaced-system-ui-css-font-stack/ */
nav > ol > li > a {
	font-size: 1.1rem;
	font-weight: bold;
	color: #22D045;
	font-family: ui-monospace, 
		Menlo, Monaco, 
		"Cascadia Mono", "Segoe UI Mono", 
		"Roboto Mono", 
		"Oxygen Mono", 
		"Ubuntu Monospace", 
		"Source Code Pro",
		"Fira Mono", 
		"Droid Sans Mono", 
		monospace;
}

nav > ol > li > a:hover {
	text-shadow: 0 0 5px black;
	background: radial-gradient(#22D045, transparent);
}

main.content {
	max-width: 600px;
	padding: 0 1rem;
	margin: 0 auto;
}

.hide-rst-heading main h1:first-child {
	display: none;
}

main #tagline,
main h1.title {
	font-size: 220%;
	font-weight: normal;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid #666;
	text-align: left;
}

main h1 {
	font-size: 150%;
	font-weight: normal;
}

main ul {
	line-height: 1.5em;
	padding-bottom: 0.75rem;
}

.main-index h2 {
	margin: 1.5rem 0;
}

.contributors {
	line-height: 1.5;
	font-style: italic;
}

.contributors .contributor {
	white-space: nowrap;
}

#demo {
	text-align: center;
	width: 100%;
}

/* the size of the demo player is not very well defined and kinda depends on the
 * default fonts and font sizes. This makes it so that it does never truncate lines if the
 * window is large enough.
 */
#demo {
	margin: 10px 0;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
}
