name: Update pages
on: [push]

jobs:
  update-web:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
         python-version: '3.8'   
    - name: Publish pages to web
      shell: bash
      env:
         GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
      run: |
        # Only build the "source" branch ("master" = built, published pages,
        # this can't be changed for organization GitHub Pages)
        test ${GITHUB_REF##*/} == "source" || exit 0
        
        # Install dependency
        pip install docutils
        
        # Add git metadata
        git config user.name "Automated build"
        git config user.email "nobody@example.com"

        # Build the pages
        make clean
        make

        # Delete workflow for the output ("master") branch,
        # so GitHub won't even trigger a build for it.
        rm .github/workflows/main.yml
        git add --all .
        git commit -m "Automatically built pages at $(git rev-parse --short HEAD)" || exit 0

        # travis/github_deploy_key.enc is an encrypted SSH key.
        # The keys for this key are stored with GitHub and are exposed in the
        # $encrypted... environment variables. (These are *not* available in pull request builds!)
        # The public key is set up as a deployment key in the GitHub repository.
        # The following document explains the process:
        # https://docs.github.com/en/free-pro-team@latest/actions/reference/encrypted-secrets
        gpg --quiet --batch --yes --decrypt --passphrase="$GPG_PASSPHRASE" --output github_deploy_key .github/keys/github_deploy_key.asc

        # Add the SSH key
        chmod 600 github_deploy_key
        eval `ssh-agent -s`
        ssh-add github_deploy_key

        # Push changes to the *master* branch
        # Remember, this is building the *source* branch.
        git push --force git@github.com:borgbackup/borgbackup.github.io.git HEAD:master

        # Kill SSH agent, get rid of the key (GitHub does that as well)
        kill $SSH_AGENT_PID
        shred -u github_deploy_key
